:root {
  --color-primary: #f5c6aa;
  --color-primary-light: #f8d7c2;
  --color-primary-dark: #dba98f;

  --color-secondary: #eacac0;
  --color-secondary-light: #f3dbd4;
  --color-secondary-dark: #d9ada1;

  --color-tertiary: #d18b67;
  --color-tertiary-light: #e6a987;
  --color-tertiary-dark: #b56e4d;

  --text-dark: #3d2b1f;
  --text-light: #ffffff;
}
